* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'StratosSkyeng', sans-serif;
}

.app {
  &__set {
    min-height: 100vh;
    width: 100%;
    background-color: #004980;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__game {
    min-height: 100vh;
    width: 100%;
    font-family: 'StratosSkyeng', sans-serif;
    background-color: #004980;
    display: flex;
    flex-direction: column;
    padding: 22px;
  }
}

.box {
  padding: 52px 70px 50px;
  background-color: #c2f5ff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__heading {
    text-align: center;
    font-size: 40px;
    //font-family: StratosSkyeng;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    color: #004980;
  }

  &__level-box {
    display: flex;
    gap: 24px;
    padding-top: 48px;
    padding-bottom: 67px;
  }

  &__level {
    background-color: #ffffff;
    color: #0080c1;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    width: 98px;
    padding: 13px;
    border-radius: 12px;
    cursor: pointer;
  }

  &__difficulty-input {
    display: none;
  }
}

.button {
  background-color: #7ac100;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 246px;
  height: 50px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

input[type='radio']:checked + label {
  color: red;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding-top: 35px;

  &__shirt {
    background-color: #fff;
    height: 129px;
    width: 91px;
    border-radius: 4px;
    padding: 4px;

    &_img {
      border-radius: 4px;
    }
  }
}

.time {
  &__name {
    color: #fff;
    font-size: 16px;
    line-height: 1px;
    display: flex;
    gap: 57px;
    padding-right: 5px;
    justify-content: flex-end;
  }
  &__timer {
    color: #fff;
    font-size: 64px;
    line-height: 72px;
  }
}

.card {
  width: 95px;
  height: 133px;
  border-radius: 4px;
  background: #fff;
  padding: 6px;

  &__name-container {
    display: flex;
  }

  &__name {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__rank {
    color: #000;
    line-height: 24px;
    font-size: 24px;
  }
  &__suit {
    display: flex;
    justify-content: space-around;
    margin-top: 18px;
    margin-bottom: 18px;

    &_small {
      width: 7px;
      height: 6px;
    }
    &_big {
      width: 29px;
      height: 25.6px;
    }
  }
}

.reverse {
  position: relative;
  z-index: 1;
  transform: rotate(180deg);
}

.popup {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 73, 128, 0.8999999761581421);
  justify-content: center;
  align-items: center;

  &__body {
    max-width: 480px;
    max-height: 459px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    padding-top: 26px;
    padding-left: 112px;
    padding-right: 112px;
  }

  &__img {
    margin-bottom: 9px;
  }

  &__text {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 28px;
    margin-bottom: 10px;

    &_time {
      color: #000;
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: 72px;
      margin-bottom: 40px;
    }
  }
}